.carousel-image{
    height: 90vh;
    object-fit: cover;
    filter: brightness(0.6);
}
.carousel-indicators [data-bs-target]{
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
